.inbox-container {
    display: flex;
    justify-content: center;
    height: calc(100% - 54px);
}

.chats-container {
    width: 30%;
    max-width: 300px;
    height: 100%;
    border: 1px solid blue;
}

.messages-container {
    width: 70%;
    max-width: 800px;
    height: 100%;
    border: 1px solid green;
}