.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px solid black;
}

.form-content input {
    height: 35px;
    font-size: 15px;
    margin: 15px;
    width: 90%;
}

.form-content button {
    padding: 8px;
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    margin-bottom: 15px;
}

.community {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 200px;
    max-width: 250px;
    border: 1px solid black;
    margin-top: 15px;
}

.community input{
    height: 35px;
    font-size: 15px;
    border: none;
    border-left: 1px solid black;
    width: 100%;
}

.error {
    border: 1px solid red;
}